{% extends 'homepage.html' %}
{% block content %}
{% load static %}
{% include  'include/header.html' %}

    <div class="container" style="margin-top: 15px;">
        <div class="inner">

            <div class="inner2">
        <video name='demo' controls autoplay controlsList="nodownload"  width='95%' height='70%' style="width: 95%; height:400px;">
            <source src="{{video.video.url}}" type="video/mp4"></source>
            </video>
            <h5 class="card-title">{{video.title}}</h5>
                <div style="display:flex; justify-content:space-between; max-width:300px;"><a href="{%url 'profile' video.user.username %}" style="text-decoration: none; color:black;"><p class=""><img src="{{video.user.profile_image.url}}" style="width: 30px; height: 30px;" alt=""> {{video.user.username}}</p></a>
                  {% if request.user.is_authenticated and request.user != video.user %}
                  {% if follow_status != True %}
                  <form method = "POST">
                  {% csrf_token %}
                <button type="submit" name='subscribe' class="btn btn-primary">Подписаться</button>
                </form>
                {% else %}
                <form method = "POST">
                  {% csrf_token %}
                <button type="submit" name='subscribe' class="btn btn-danger">Отписаться</button>
                </form>
                {% endif %}
                {% endif %}
              </div>
                <p class="text-muted">
                    <p>{{video.description| truncatewords:40}}</p>
                    <small class="text-muted">{{video.views}} просмотров</small>

                    
                </p>
                <p><small  class="text-muted">{{video.date}}</small></p>
                <div style="margin-bottom:100px;" class="d-flex justify-content-between align-items-center">
                  <form method="POST">
                    {%csrf_token%}
                    <div class="btn-group">
                      {% if request.user == video.user %}
                      <button type="submit" name='delete' class="btn btn-danger">Удалить видео</button>
                      {% endif %}
                      <button type="submit" name="like" class="btn btn-sm btn-outline-secondary">{{video.video_like.all.count}} Лайк</button>
                      <button type="submit" name = 'dislike' class="btn btn-sm btn-outline-secondary">{{video.video_dislike.all.count}} Дизлайк</button>
                    </div>
                  </form>
                  </div>
            </div>
            <div class="">
                <ul class="list-group">
                  {%for rd_video in recomendations%}
                    <li class="list-group-item " aria-current="true">
                       <a href="{%url 'video' rd_video.id%}" style="text-decoration: none; color:black; display:flex;">
                        <img src="{{rd_video.photo.url}}" style="width: 100px; height: 100px;" alt="">
                        <div class="">
                          <h5 class="card-title">{{rd_video.title}}</h5>
                          <p class=""><small class="text-muted">{{rd_video.user.username}}</small></p>
                      </div>
                    </a>
                </li>
                {%endfor%}
                </ul>
            </div>
        </div>
        <div class="col-sm-7">
          <form method="POST">
            {%csrf_token%}
            <label  class="form-label">Оставить коментарий</label>
            <textarea type="text" class="form-control" name = 'text'placeholder="Введите текст комментария" value="" style="resize: none; margin-bottom:5px;" required=""></textarea>
            <button type="submit" name='comment' class="btn btn-primary">Отправить коментарий</button>
          </form>
          </div>
        <div class="album py-5 ">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
                <div class="col mw50" >
                  <div class="card shadow-sm">
                    {%for comment in comments%}
                      <div class="card-body">
                          <div class="DF">
                              <div class=""><img src="{{comment.user.profile_image.url}}" alt="" style="width: 80px; height:80px; margin:0 15px 15px 0 ;">
                                <p class="card-text">{{comment.user.username}} </p>
                              </div>
                              <p class="card-text">
                                <small class="text-muted">{{comment.text}}</small>
                              </p>
                            </div>
                        <div class="d-flex justify-content-between align-items-center">
                          <small class="text-muted">{{comment.created}}</small>
                        </div>
                      </div>
                      {%endfor%}
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>


{% endblock %}